@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --theme-color : black;
    --color-1: #4682B4;
    --text-color: white;
    --other-color: #006aff;
    --base-variant: white; 
    --primary-color: black;
    --grid-box-shadow-color : white;
    --footer: black;
    --text-footer: white;
    --social: #4682B4;
    --social-box: black;
}
.gif{
    width: 60px;
    color: var(--text-color);
    align-items: center;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--theme-color);
    color: var(--text-color);  
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
}
main {
    flex: 1;
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: var(--theme-color);
    color: var(--text-color);
    margin-left: 200px;
}
/* Style de base pour la barre de navigation */
nav {
    background-color: var(--color-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Ajuste la largeur selon tes besoins */
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
}
.navSpace {
    height: 30px;
    margin-bottom: 10px;
    z-index: 230;
}
.links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Style des éléments de la barre de navigation */
nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease, transform 0.3s ease;
}
nav a:hover::after {
    width: 100%;
    transform: translateY(8px);
}
nav svg{
    fill: var(--text-color)
}
nav li{
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: auto;
}
nav ul li {
    position: relative;
    padding: 0;
}
/* Barre latérale pour le responsive */
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}
/* Style des menus déroulants dans la barre de navigation */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    padding: 0;
}
.dropdown-content a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    margin: 0;
}
.dropdown-content a::after {
    display: none;
}
.dropdown-content a:hover {
    background-color: #2f618a;
    color: white;
}
/* Style pour afficher le menu déroulant lors du clic */
.dropdown.open .dropdown-content {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}
.dropdown .dropdown-item {
    margin: 0;
}
/* Style pour les grilles */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.grid-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.grid-title-outer {
    background-color: var(--color-1);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--grid-box-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 300px;
}
.grid-title-outer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.grid-title h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}
.grid-title img {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80px;
    max-height: 80px;
}
.grid-title p {
    font-size: 1em;
    color: var(--text-color);
}
.grid-link {
    display: block;
    text-decoration: none;
}
.grid-label {
    color: var(--text-color);
}
/* Style pour les screenshots + aperçu */
.gallery-thumbnails {
    max-width: 512px
}
.gallery-thumbnails img {
    width: 64px;
    margin: 3px 10px 10px 0;
    padding: 0;
    transition: 0.2s
}
.gallery-thumbnails img:hover {
    box-shadow: #222 2px 2px 4px;
    cursor: pointer
}
#preview {
    max-width: 90%;
    height: auto
}
/* Style pour les tutos*/
.container-tuto{
    font-size: 120%;
}
.section-tuto{
    margin-top: 50px;
}
.section-tuto a{
    color: var(--social);
}
.section-tuto h1{
    text-align: center;
}
.section-tuto h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-tuto p{
    margin-top: 20px;
}
.section-tuto ul{
    margin-top: 10px;
    margin-left: 40px;
}
/* Style pour les détails des differents dépannages */
details{
    margin-top: 20px; 
}
details p{
    margin-top: 20px;
}
details ol{
    margin-top: 10px;
    margin-left: 40px; 
}
details ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}
details ol li{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}
details ul li{
    margin-left: 40px;
}
/* Création d'un conteneur social qui vient de la vidéo de Coding2GO pour le fun ^^ */
.socials-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
.socials-container a{
    background-color: var(--social);
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
    height: 32px;
}
.socials-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
}
.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white; 
}
.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
}
.socials-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.socials-container a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}
/* Pied de page */
footer {
    padding: 20px 0;
    background-color: var(--footer);
    text-align: center;
    margin-left: 200px;
}
footer hr {
    border: 0;
    border-top: 2px solid var(--text-footer);
    margin: 10px 0; 
    width: 100%;
}
footer p {
    color: var(--text-footer);
    padding-left: 20px;
}
/* Responsive pour les téléphones */
@media only screen and (max-width: 768px) {
    nav a.home {
        margin-left: 10px;
    }
    .socials-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
    }
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    .links-container p{
        padding-left: 100px;
        margin-bottom: 20px;
    }
    .links-container img{
        margin-left: 115px;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
/* Responsive pour les tablettes */
@media only screen and (max-width: 1024px) {
    nav a.home {
        margin-left: 10px;
    }
    .socials-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
    }
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    .links-container p{
        padding-left: 100px;
        margin-bottom: 20px;
    }
    .links-container img{
        margin-left: 115px;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}