@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    /* Thème Clair */
    --theme-background-menu : #f6f6f6;
    --theme-hover-menu : #f6f6f6;
    --theme-hover-sub-menu : #dfdede;
    --theme-text-sub-menu : white;
    --theme-text : black;
    --theme-text-banner : white;
    --theme-background-card : #e1e2f7;
    --theme-background-hover-card : rgb(204, 204, 204);
    --theme-background-page : white;
    --theme-switch-color : black;
    --theme-switch-background-color : white;
    --theme-summary-color-hover : blue;
    --theme-hover-link : blue;
    --theme-caution-box1: ;
    --theme-disclaimer-box1: ;
    --theme-information-box1: ;
    --theme-emplacement: #a8b1ff;
    --theme-emplacement-2: #31363c;
}
.darkmode{
    /* Thème Sombre */
    --theme-background-menu : #272a2f;
    --theme-hover-menu : black;
    --theme-hover-sub-menu : #9e9c9c;
    --theme-text-sub-menu : ;
    --theme-text : white;
    --theme-text-banner : white;
    --theme-background-card : #727272;
    --theme-background-hover-card : rgb(204, 204, 204);
    --theme-background-page : #1b1b1f;
    --theme-switch-color : white;
    --theme-switch-background-color : black;
    --theme-summary-color-hover : #a8b1ff;
    --theme-hover-link : #a8b1ff;
    --theme-caution-box1: #3e2129;
    --theme-disclaimer-box1: #3d341b;
    --theme-information-box1: #272843;
    --theme-emplacement: #a8b1ff;
    --theme-emplacement-2: #31363c;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: var(--theme-background-page);
    font-size: 17px;
}
/* Changement de thème (Clair / Sombre) */
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-switch-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--theme-switch-background-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}
/* Menu de navigation */
.menu{
    position: sticky;
    top: 0;
    left: 0;
    background: var(--theme-background-menu);
    z-index: 1;
}
.menu > ul{
    display: flex;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: var(--theme-text);
    padding: 20px 20px;
    display: block;
}
/* Sous-menu de navigation */
.sous-menu{
    list-style: none;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: max-content;
    border-radius: 15px;
}
.sous-menu li a:hover{
    transition: 200ms ease;
    background-color: var(--theme-hover-sub-menu);
    border-radius: 15px;
}
.has-sous-menu{
    position: relative;
}
.has-sous-menu:hover .sous-menu{
    display: block;
    background-color: var(--theme-hover-menu);
}
/* Bouton accueil à gauche */
.accueil{
    margin-left: 250px;
    margin-right: 600px;
}
/* Mise en forme Bannière */
.banner{
    width: 100%;
    height: 80vh;
    z-index: 0;
}
.banner-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(30%);
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-content p{
    font-size: 2rem;
    font-weight: 300;
    color: var(--theme-text-banner);
}
.banner-content h1{
    font-size: 5rem;
    color: var(--theme-text-banner);
}
/* Mise en forme Bienvenue */
.welcome{
    padding: 20px;
}
.welcome div{
    margin-left: 400px;
    margin-right: 400px;
}
.welcome h1{
    margin-top: 50px;
    color: var(--theme-text);
}
.welcome h2{
    margin-top: 50px;
    color: var(--theme-text);
}
.welcome p{
    line-height: 25px;
    margin: 15px 0;
    color: var(--theme-text);
}
/* Carte des projets */
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: var(--theme-background-card);
    color: var(--theme-text);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.card:hover{
    background: var(--theme-background-hover-card);
    color: var(--theme-text);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}
.card-image{
    height: 220px;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}
.car-1{
    background-image: url(/assets/images/icons/105648.gif);  
}
.car-2{
    background-image: url(/assets/images/icons/inazuma_eleven_go_galaxy_logo.png);
    background-size: 100%;
}
.car-3{
    background-image: url(/assets/images/icons/logoluma3dsfr.png);
    background-size: 90%;
}
.car-4{
    background-image: url();
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
    line-height: 25px;
}
.card a{
    background-color: white;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
/* Section tuto */
.container-tuto > div{
    margin-left: 300px;
    margin-right: 200px;
    color: var(--theme-text);
}
.section-tuto{
    padding: 20px;
    margin-top: 20px;
}
.section-tuto a{
    color: var(--theme-hover-link);
}
.section-tuto h1{
    text-align: center;
    margin-top: 50px;
}
.section-tuto h2{
    margin-left: 200px;
    margin-top: 50px;
    color: var(--theme-text);
}
.section-tuto hr{
    width: 61%;
    margin: 10px 203px;
}
.section-tuto > p{
    line-height: 25px;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 30px;
}
.section-tuto ul{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.execution-mset9{
    margin-top: 10px;
}
.section-tuto details {
    margin-left: 200px; 
    margin-right: 200px;
    border-radius: 5px;
    background: #272a2f;
    color: var(--theme-text-sub-menu);
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: calc(100% - 400px);
    cursor: pointer;
    user-select: none;
}
.section-tuto details > p {
    line-height: 25px;
    margin-top: 20px;
    color: var(--theme-text-sub-menu);
}
.section-tuto details p img{
    width: 100%;
}
.section-tuto details ol {
    margin-top: 10px;
    margin-left: 20px;
}
.section-tuto details ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.section-tuto details ol li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.section-tuto details ul li {
    margin-left: 20px;
}
/* Table des matières */
.table-des-matieres {
    position: fixed;
    top: 100px;
    right: 20px;
    transform: translateX(-80px);
    width: 200px;
    color: var(--theme-text);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    border-left: 2px solid var(--theme-summary-color-hover);
}
.table-des-matieres h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.table-des-matieres ul{
    padding-left: 20px;
    font-size: 0.9rem;
}
.table-des-matieres li{
    margin-bottom: 10px;
}
.table-des-matieres a{
    color: var(--theme-text);
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5;
}
.table-des-matieres a:hover{
    text-decoration: underline;
    color: var(--theme-summary-color-hover);
}
/* Bloc Information / Avertissement / Attention */
.information{
    margin-left: 200px; 
    margin-right: 200px;
    border-radius: 5px;
    background: var(--theme-information-box1);
    color: var(--theme-text-sub-menu);
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    line-height: 25px;
}
.information-backtik{
    background-color: var(--theme-emplacement-2);
    color: var(--theme-emplacement);
    font-size: .875em;
    border-radius: 4px;
    padding: 3px 6px;
}
.disclaimer-box > details{
    background-color: var(--theme-disclaimer-box1);
    padding: 20px;
    border-radius: 5px;
}
.disclaimer{ 
    margin-left: 200px; 
    margin-right: 200px;
    border-radius: 5px;
    background: var(--theme-disclaimer-box1);
    color: var(--theme-text-sub-menu);
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
.caution{
    margin-left: 200px; 
    margin-right: 200px;
    border-radius: 5px;
    background: var(--theme-caution-box1);
    color: var(--theme-text-sub-menu);
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
}
/*  */